<mat-toolbar color="primary">
  <span><img src="../../assets/images/safetylogo.png" height=30 width=41></span>
  <a mat-button routerLink="/home" ><span class="fa fa-home fa-lg"></span> Home</a>
  <a mat-button routerLink="/catalogo"><span class="fa fa-list fa-lg"></span> Equipos</a>
  <a mat-button routerLink="/registro" name ="btnRegistro"><span class="fa fa-list fa-lg"></span> Registrar</a>
  <a mat-button routerLink="/subirImagen"><span class="fa fa-list fa-lg"></span> Subir galeria</a>
  <a mat-button routerLink="/eliminarEquipo" name ="btnEliminar"><span class="fa fa-list fa-lg"></span> Eliminar Equipo</a>
  <a mat-button ><span class="fa fa-address-card fa-lg"></span> Contacto</a>
</mat-toolbar>

<div class="container jumbotron"
     fxLayout="row"
     fxLayout.sm="column"
     fxLayout.xs="column"
     fxLayoutAlign.xs="start center"
     fxLayoutAlign.sm="start center"
     fxLayoutAlign.gt-sm="center center"
     fxLayoutGap="10px">

  <div fxFlex fxFlex.gt-sm="50%">
    <h1>Venta de maquinaria</h1>
    <p>
      Mejora tu productividad y eficiencia con equipos y maquinaria de confianza. Con nuestro extenso inventario de
      equipamiento nuevo, usado y en arriendo.
    </p>
  </div>
  <div fxFlex fxFlex.gt-sm="20%">
    <img src="../../assets/images/safetylogo.png" alt="Logo" width="200" height="200">
  </div>
  <div fxFlex></div>
</div>
