<div class="container"
     fxLayout="column"
     fxLayoutGap="10px">
  <div fxFlex>
    <mat-grid-list [cols]="2" bind-rowHeight="'200px'" [gutterSize]="'10px'">
      <mat-grid-tile *ngFor="let equipo of equipos" [routerLink]="['/editarEquipo',equipo.id]" >
        <img height="200px" data-src="data:image/png;base64,{{equipo.imagen}}"
             alt={{equipo.modelo}}>
        <mat-grid-tile-footer>
          <h1 mat-line>{{equipo.modelo | uppercase}}</h1>
        </mat-grid-tile-footer>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>



