<div class="container"
     fxLayout="column"
     fxLayoutGap="10px">

  <mat-form-field class="formCat">
    <mat-select placeholder="Seleccionar Equipos por categoria"   name="equipo_select_eliminar"  >
      <mat-option  *ngFor="let categoria of categorias" (click)="categoriaId(categoria)" value="{{ categoria.nombre }}">{{ categoria.nombre }}</mat-option>
    </mat-select>
  </mat-form-field>


  <div fxFlex>
    <mat-grid-list [cols]="2" bind-rowHeight="'200px'" [gutterSize]="'10px'">
      <mat-grid-tile *ngFor="let equipo of equipos"  [colspan] = "1" [rowspan]="1">
        <img height="200px" data-src="data:image/png;base64,{{equipo.imagen}}"
             alt={{equipo.modelo}}>
        <mat-grid-tile-footer>
          <h1 mat-line>{{equipo.modelo | uppercase}}</h1>
          <button type="button" (click)="eliminarEquipo(equipo.id)" [routerLink]="['/home']" name="equipo{{equipo.id}}">Eliminar Equipo</button>
        </mat-grid-tile-footer>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>

